<div class="container" style="max-width: 100%; margin-top: -5px;"></div>

<a href="{{site.url}}"><img src="/images/Random-Confounder-Theory-Logo.png"
        style="padding-right:5px; position:relative; top: 28px; max-width: 50px; display: inline-block;"
        alt='SubCriticalAppraisal' /><a href="{{ site.url }}"
        style="position:relative; top: 25px; color: var(--main-text-color); text-decoration: none; display: inline-block;">
        <h3>Sub<br>Critical<br>Appraisal</h3>
</a>
    
<!--Navbar Burger-->

<label for="toggle-1" class="toggle-menu">
    <ul>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</label>

<input type="checkbox" id="toggle-1">

<br>

<hr style="width: 400%; margin-top: 40px; margin-left: -300px; z-index: 100; position: relative;">

<div class="fullbar" style="width: 100%; margin-top: -25px; text-align:right; position: relative;">
    <nav>
        <ul class="menu-items" style="list-style-type: none;">
            <h3>
                <div class="vl"></div><li><a href="{{ '/about' | prepend: site.baseurl }}">&nbspAbout</a></li>
                <div class="vl"></div><li><a href="{{ '/archives' | prepend: site.baseurl }}">&nbspArchives</a></li>
                <div class="vl"></div><li><a href="{{ '/bookshelf' | prepend: site.baseurl }}">&nbspBookshelf</a></li>
                <div class="vl"></div><li><a href="{{ '/links' | prepend: site.baseurl }}">&nbspLinks</a></li>
                <div class="vl"></div><li><a href="https://subcriticalappraisal.substack.com">&nbspSubscribe</a></li>
                <div class="vl"></div><li><a href="{{ '/support' | prepend: site.baseurl }}">&nbspSupport</a></li>
            </h3>
        </ul>
    </nav>

    <div class="vl" style=" display: inline-block; text-align:right;"></div>
    <h3 style=" display: inline-block; text-align:right; margin-bottom: 8px;"><div class="darkmode"><a href="{{page.baseurl}}" id="theme-toggle"
            onclick="modeSwitcher()" style="cursor: pointer;"></a></div></h3>
</div>

<hr style="width: 400%; margin-top: -10px; margin-left: -300px;">

<div class="menu-burger">
    <h3>
        <a href="{{ '/about' | prepend: site.baseurl }}">&nbspAbout</a>
        <a href="{{ '/archives' | prepend: site.baseurl }}">&nbspArchives</a>
        <a href="{{ '/bookshelf' | prepend: site.baseurl }}">&nbspBookshelf</a>
        <a href="{{ '/links' | prepend: site.baseurl }}">&nbspLinks</a>
        <a href="https://subcriticalappraisal.substack.com">&nbspSubscribe</a>
        <a href="{{ '/support' | prepend: site.baseurl }}">&nbspSupport</a>
    </h3>
</div>