<nav class="main-nav">
    <div class="container" style= "max-width: 100%; margin-top: -5px;">
        <a href="{{site.url}}"><img src="/images/Random-Confounder-Theory-Logo.png"
                style="padding-right:5px; position:relative; top: 28px; max-width: 50px; display: inline-block;" alt='SubCriticalAppraisal' /><a
                href="{{ site.url }}" style="position:relative; top: 26px; color: var(--main-text-color); text-decoration: none; display: inline-block;">
                <h3>Sub<br>Critical<br>Appraisal</h3>
        </a>
        <br>
        <hr style="width: 400%; margin-top: 40px; margin-left: -300px;">
        <ul class="navbar" style= "list-style-type: none; margin-top: -4px; padding: 0; position:relative; text-align: right;">
            <h3 style="overflow:hidden; margin-top: 0;">
            <div class="vl"></div><li style= "display: inline; margin-top:-5px; margin-bottom: 1px;"><a href="{{ '/about' | prepend: site.baseurl }}">&nbspAbout</a></li>
            <div class="vl"></div><li style= "display: inline; margin-top:-5px; margin-bottom: 1px;"><a href="{{ '/archives' | prepend: site.baseurl }}">&nbspArchives</a></li>
            <div class="vl"></div><li style="display: inline; margin-top:-5px; margin-bottom: 1px;"><a href="{{ '/bookshelf' | prepend: site.baseurl }}">&nbspBookshelf</a></li>
            <div class="vl"></div><li style="display: inline; margin-top:-5px; margin-bottom: 1px;"><a href="{{ '/links' | prepend: site.baseurl }}">&nbspLinks</a></li>
            <div class="vl"></div><li style="display: inline; margin-top:-5px; margin-bottom: 1px;"><a href="https://subcriticalappraisal.substack.com">&nbspSubscribe</a></li>
            <div class="vl"></div><li style= "display: inline-block; margin-top:-5px; margin-bottom: 1px;"><a href="{{page.baseurl}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a></li>
            </h3>
        </ul>
        <hr style="width: 400%; margin-top: -10px; margin-left: -300px;">
    </div>
</nav>