<nav class="main-nav">
    <div class="container" style= "max-width: 100%; margin-top: -10px;">
        <a href="{{site.url}}"><img src="/images/Random-Confounder-Theory-Logo.png"
                style="padding-right:5px; position:relative; top: 28px; max-width: 50px; display: inline-block;" alt='Random Confounder Theory' /><a
                href="{{ site.url }}" style="position:relative; top: 25px; color: var(--main-text-color); text-decoration: none; display: inline-block;">
                <h3>Random<br>Fermi<br>Estimates</h3>
        </a>
        <br>
        <hr style="width: 400%; margin-top: 30px; margin-left: -300px;">
        <ul class="navbar" style= "list-style-type: none; margin-top: -4px; padding: 0; position:relative; text-align: right;">
            <h3 style="overflow:auto; margin-top: 0;">
            <div class="vl"></div><li style= "display: inline;"><a href="{{ '/about' | prepend: site.baseurl }}">&nbspAbout</a></li>
            <div class="vl"></div><li style= "display: inline;"><a href="{{ '/archive' | prepend: site.baseurl }}">&nbspArchive</a></li>
            <div class="vl"></div><li style= "display: inline;"><a class="cta" href="{{ '/feed.xml' | prepend: site.baseurl }}">&nbspSubscribe</a></li>
            <div class="vl"></div><li style= "display: inline; padding-right: 6px;<"><a href="{{page.baseurl}}" id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;"></a></li>
            <div class="vl"></div>
            </h3>
        </ul>
        <hr style="width: 400%; margin-top: -10px; margin-left: -300px;">
    </div>
</nav>