@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

/* dark toggle */
html, html[data-theme="light"] { 
	--light-text-color: rgb(72, 72, 74);
     --link-color: rgb(255, 166, 0);
     --hover-link-color: rgb(132, 0, 255);
  	--main-background-color: rgb(255, 255, 255);
     --main-text-color: rgb(0, 0, 0);
     --selection-background-color: #000000;
     --selection-text-color: rgb(255, 255, 255, 0.99);
     --body-font-weight: 500;
}

html[data-theme="dark"] {
     --light-text-color: rgb(255, 255, 255);
     --link-color: hsl(46, 100%, 50%);
     --hover-link-color: rgb(255, 0, 170);
     --main-background-color: #121212;
     --main-text-color: rgb(253, 253, 255);
     --selection-background-color: rgb(250, 250, 255, 0.99);
     --selection-text-color: rgb(0, 0, 0, 0.99);
     --body-font-weight: 400;
}

/* Tufte CSS styles */
html {
  font-size: 12px;
  height: 100%;
}

@media screen and (min-width: 708px) {
     body {
          padding-left: 20px;
          padding-right: 20px;
     }
     .vl {
          height: 100%;
          top: -9px;
     }
}

@media screen and (max-width: 707px) {
     body {
          padding-left: 20px;
          padding-right: 20px;
          
     }
     html {
          font-size: 11px;
          height: 100%;
     }
      .vl {
          height: 85%;
          top: -8px;
     }
}

html, body {
       overflow-x: hidden !important;
}

body { display: flex;
       flex-direction: column;
       margin: 0 auto;
       background-color: var(--main-background-color);
       color: var(--main-text-color);
       font-size: 1rem;
       font-family: 'Bitter', serif;
       font-weight: var(--body-font-weight);
       line-height: 1.5rem;
       min-height: 100%;
       text-align: justify; }

h1 { font-family: 'Playfair Display', serif;
     font-weight: 900;
     margin-top: 4rem;
     margin-bottom: 1.5rem;
     font-size: 3rem;
     text-align: left;
     line-height: 1; }

h2 { font-family: 'IBM Plex Serif', serif;
     font-weight: 600;
     margin-top: 2.5rem;
     margin-bottom: 1.4rem;
     font-size: 2.5rem;
     line-height: 1; }

h3 { font-family: 'Roboto Mono', monospace;
     font-weight: 400;
     font-size: 1.1rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     line-height: 1.1rem; }

h4 { font-family: 'Roboto Mono', monospace;
     font-weight: 400;
     font-size: 2.1rem;
     margin-top: 2rem;
     margin-bottom: 1.4rem;
     line-height: 1; }

h5 { font-family: 'Roboto Mono', monospace;
     font-weight: 400;
     margin-top: 2.1rem;
     margin-bottom: 1.4rem;
     font-size: 1.2rem;
     text-align: center;
     line-height: 1; }


hr { display: block;
     height: 1px;
     width: 100%;
     border: 0;
     border-top: 1px solid var(--main-text-color);
     margin: 1em 0;
     padding: 0; }

.vl { display: inline-block;
      border-left: 1px solid var(--main-text-color);
      padding: 16px 0 0 6px; 
      position: absolute;
      margin-left: 0px;
}

p.subtitle { font-family: 'Roboto Condensed', sans-serif;
             font-style: italic;
             margin-top: 1rem;
             margin-bottom: 1rem;
             font-size: 1.8rem;
             display: block;
             line-height: 1; }

.numeral { font-family: et-book-roman-old-style; }

.danger { color: red; }

article { position: relative;
          padding: 0;
          margin: 0 auto;
          max-width: 55rem; }

section { padding-top: 1rem;
          padding-bottom: 1rem; }

p, ol, ul { font-size: 1.4rem;
            line-height: 2.4rem; }

p { margin-top: 1.5em;
    margin-bottom: 1.5em;
    vertical-align: baseline;
}

.content {
  flex: 1 0 auto;
  margin: 0 auto;
}

code { font-family: 'Inconsolata', serif;
       font-size: 1.5rem;
       line-height: 1.42; }

pre code { font-size: 1.5rem;
           width: 100%;
           overflow-x: auto; }

footer .container {
  max-width: 100%;
  margin: 0 auto;
}

::-moz-selection { /* Code for Firefox */
  color: var(--selection-text-color);
  background: var(--selection-background-color);
}

::selection {
  color: var(--selection-text-color);
  background: var(--selection-background-color);
}

/* Chapter Epigraphs */
div.epigraph { margin: 5em 0; }

div.epigraph > blockquote { margin-top: 3em;
                            margin-bottom: 3em; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; }

div.epigraph > blockquote > footer > cite { font-style: italic; }
/* end chapter epigraphs styles */

blockquote { font-size: 1.4rem; }

blockquote p { width: 100%;
               margin-right: 40px; }

blockquote footer { width: 55%;
                    font-size: 1.1rem;
                    text-align: right; }

section > p, section > footer, section > table { width: 55%; }

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol, section > ul { width: 50%;
                             -webkit-padding-start: 5%; }

li:not(:first-child) { margin-top: 0.25rem; }

figure { padding: 0;
         border: 0;
         font-size: 100%;
         font: inherit;
         vertical-align: baseline;
         max-width: 100%;
         -webkit-margin-start: 0;
         -webkit-margin-end: 0;
         margin: 0 0 3em 0; }

figcaption { float: right;
             clear: right;
             margin-top: 0;
             margin-bottom: 0;
             font-size: 1.1rem;
             line-height: 1.6;
             vertical-align: baseline;
             position: relative;
             max-width: 40%; }

figure.fullwidth figcaption { margin-right: 24%; }

/* Links: replicate underline that clears descenders */

a:visited { color: var(--link-color);
          -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          text-decoration: none;
          background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0% 93%, 100% 93%, 0% 93%; }

a:link { color: var(--link-color);
          -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          text-decoration: none;
          background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
          background-repeat: no-repeat, no-repeat, repeat-x;
          background-position: 0% 93%, 100% 93%, 0% 93%; }

a:hover { color: var(--hover-link-color)}

@media screen and (-webkit-min-device-pixel-ratio: 0) { a:link { background-position-y: 87%, 87%, 87%;} }

@media (prefers-color-scheme: dark) {
     html, html[data-theme="dark"] {
          --light-text-color: rgb(255, 255, 255);
          --link-color: hsl(46, 100%, 50%);
          --hover-link-color: rgb(255, 0, 170);
          --main-background-color: #000000;
          --main-text-color: rgb(253, 253, 255);
          --selection-background-color: rgb(250, 250, 255, 0.99);
          --selection-text-color: rgb(0, 0, 0, 0.99);
     }

     html[data-theme="light"] { 
          --light-text-color: rgb(72, 72, 74);
          --link-color: rgb(255, 166, 0);
          --hover-link-color: rgb(132, 0, 255);
          --main-background-color: rgb(255, 255, 255);
          --main-text-color: rgb(0, 0, 0);
          --selection-background-color: #000000;
          --selection-text-color: rgb(255, 255, 255, 0.99);
     }

     body {
          font-weight: 300;
     }
     h1 {
          font-weight: 800;
     }
     h2 {
          font-weight: 300;
     }
     h3 {
          font-weight: 300;
     }
}