---
layout: default
tipue_search_active: false
---

<div class="home">

    {{ content }}

    {% include post-list.html %}

    <p>
        {% for tag in site.tags %}
        <!-- Here's a hack to generate a "tag cloud" where the size of
        the word is directly proportional to the number of posts with
        that tag. -->
        <a href="/tags/{{ tag[0] }}/" style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px">
            {{ tag[0] }} |
        </a>
        {% endfor %}
    </p>

    {% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
    {% endif %}
</div>